<header class="container">
    <h1>Angular Testing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis deserunt dignissimos dolorem ipsam iure
        laboriosam totam. At consequatur corporis dolores, expedita molestiae nihil officiis sint. Iure nemo sunt
        voluptatibus.</p>

    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a [routerLink]="['products']">Product</a></li>
            <li><a [routerLink]="['pico-preview']">Pico Preview</a></li>
        </ul>
    </nav>
</header>

<router-outlet/>
